Importing the library

In [32]:
import pandas as pd

#importing dataset

In [34]:
df = pd.read_excel("/content/Sales data .xlsx")

##printing dataset

In [37]:
#viewing the dataset
print(df)

         Products  Sales  Profit(%)
0        Cupcakes   1500        100
1         Meatpie    200         40
2          Samosa    500         40
3    Spring rolls    100         50
4          Donuts    450        100
5      Cake slice   1000         70
6           Kebab   1000         50
7       Milkshake    950         80
8          Ginger    400        100
9          Mojito    550         70
10       Cocomilk   1500         50
11           Zobo   1000        100
12     Onion ring    650         50
13  Treche leches   1000         60
14        Ganache   1000         60
15          Fudge    450         50
16      Kunun aya    750        100

In [38]:
#display the first few rows of the dataset
print(df.head())

       Products  Sales  Profit(%)
0      Cupcakes   1500        100
1       Meatpie    200         40
2        Samosa    500         40
3  Spring rolls    100         50
4        Donuts    450        100

In [39]:
#check the missing values
print("missing values:\n",
df.isnull().sum())

missing values:
 Products     0
Sales        0
Profit(%)    0
dtype: int64

In [40]:
#check for duplicates
print("duplicate rows:\n",
df.duplicated().sum())

duplicate rows:
 0

In [ ]:
#display basic statistics
print("basic statistics:\n",df.describe())

basic statistics:
              Sales   Profit(%)
count    17.000000   17.000000
mean    764.705882   68.823529
std     404.183090   23.152309
min     100.000000   40.000000
25%     450.000000   50.000000
50%     750.000000   60.000000
75%    1000.000000  100.000000
max    1500.000000  100.000000

In [43]:
#check for outliers
Sales_outliers = df[df['Sales'] >
                    df['Sales'].mean() + 2 *
                    df['Sales'].std()]

profit_outliers = df[df['Profit(%)'] >
                     df['Profit(%)'].mean() + 2 *
                     df['Profit(%)'].std()]

print("Profit outliers:\n", profit_outliers)

Profit outliers:
 Empty DataFrame
Columns: [Products, Sales, Profit(%)]
Index: []